/* Reseteo márgenes browser y color body */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

/* Estilos Header */
header {
	background-color: #006DBF;
  color: #fff;
	text-align: center;
}

h1{
    font-weight: 400;
    font-size: 24px;
    padding: 10px;
}

h2{
  font-size: 20px;
}

.center {
  width: 100%;
  height: 55em;
  padding-top: 2em;
	text-align: center;
  background-image: url(../img/bici-big.jpg);
  background-size: 100%;
}

.up-box{
  width: 70%;
  height: auto;
  background-color: #fff;
  color: #4E4D53;
	font-size: 15px;
  text-align: justify;
	padding: 1em;
  border-radius: 1em;
	border: none;
	margin: 0 auto;
}

p.paragraphOne{
  margin: 5px auto;
}

#one{
  color: #1DA1F2;
}

textarea{
	width: 70%;
	height: 4em;
	color: #4E4D53;
	font-size: 15px;
	padding: 1em;
	border-radius: 1em;
	border: none;
	margin: 0 auto;
}

.txt{
  margin-top: 2em;
}

.characterCount, .pink, .green, .gray{
  width: 10%;
  height: 1em;
  background-color: #fff;
  color: #4E4D53;
	font-size: 12px;
  font-weight: bold;
	padding: 1em;
	border-radius: 1em;
	border: none;
	margin: 0 900px;
}

.pink{
  color: #D5003D;
}

.green{
  color: #009129;
}

/* Estilos botón agregar */
#btn {
	background-color: #66AEC7;
	border: 0px;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	width: 130px;
	height: 30px;
	display: block;
	color: #FFF;
}

#btn:hover {
	background-color: #5590A6;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */
#cont {
	border-radius: 0.4em;
	width: 51em;
	margin: 0 auto;
	color: #4E4D53;
	text-align: left;
	margin-bottom: 6em;
}

/*#cont span {
	margin-left: 1em;
}*/

#cont div {
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
}

.heart, .trash {
	margin: 0 0.5em;
	float: right;
}

.trash:hover {
	color: #1DA1F2;
	cursor: pointer;
}

/*.strike-out {
	text-decoration: line-through;
	color: #1DA1F2;
}*/

.red {
	color: #FC1E26;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
  font-size: 15px;
}
